/**Colors

    main:#087f5b;
    text:#f8f9fa;
*/

/*standard header texts */

h2{
    margin:20px;
}
p{
    margin:10px;
}
a {
    color: #f8f9fa;
    text-decoration:none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    font-family: 'Roboto', sans-serif;
    width:80%;
    margin:0 auto;
   
}

.website--logo{
    width:100px;
    height:100px;
}

/** Navigation bar*/
.Navigation {
    background-color: #087f5b;
    width: 100%;
}
    .Navigation > ul {
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        
    }
.Navigation >ul>li{
    list-style:none;
    flex-grow:1;
    text-align:end;
}

.Navigation>ul>li:first-child{
    flex-grow:3;
    color:yellow;
    text-align:start;
}

.Navigation--links {
    text-decoration: none;
    color: #f8f9fa;
}
/*Header*/
.header >img{
    width:100%;
    
}

/*Card and Cardlist*/

.Card--poster{
    height:300px;
    width:200px;
    border-radius:10px;
}

.CardList{
    display:flex;
    gap:10px;
    overflow-x:scroll;
   padding:32px 16px;
}
.Card {
    align-content: center;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.Card--release--date{
   text-align:center;
}
.Card--button {
    background-color: #087f5b;
    padding: 8px 4px;
    text-align: center;
    width: 50%;
    border-radius: 12px;
    border: 2px solid #087f5b;
}




/*Footer*/
footer {
    margin-top: 50px;
    color: #868e96;
}
footer>p{
    font-size:12px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 8px;
    }

    h2 {
        font-size: 16px;
    }

    .Card--poster {
        height: 225px;
        width: 150px;
        border-radius: 7px;
    }
    .Card--button {
     width:100%;
    
    }
    footer > p {
        font-size: 8px;
    }

       
}